ul.window-elements {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   list-style-type: none;
}

a.window-link {
   text-decoration: none;
   color: black;
   font-weight: 700;
   font-family: sans-serif;
}

a.active-link {
   color: #5faff3;
   text-decoration: underline;
}

nav.navigation-bar {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

form.search-form {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 15px;
}